* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #282c34;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header h1 {
    font-size: 24px;
}

.header a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #0056b3;
}

.main-container {
    display: flex;
    height: calc(100vh - 60px);
}

.form-container {
    width: 20%;
    padding: 20px;
    background: #1e1e1e;
    border-right: 1px solid #ccc;
    overflow-y: auto;
}

.editor-container {
    width: 80%;
    padding: 2px 20px;
    display: flex;
    flex-direction: column;
}

h3 {
    margin: 5px 0;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input,
select,
textarea,
button {
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.code-editor {
    flex-grow: 1;
    border: 1px solid #ccc;
    margin-bottom: 8px;
    background-color: #1e1e1e;
    color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    overflow-y: auto;
}

.code-block {
    background-color: #20232a;
    padding: 10px;
    border-radius: 4px;
    color: #61dafb;
    height: 20%;
    overflow-y: auto;
}

/* About Page CSS */
.about-container {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background: #1e1e1e;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin: 2rem 0;
}

.feature-card {
    background: #171f27;
    padding: 1.5rem;
    border-radius: 8px;
    border-top: 4px solid #007bff;
    transition: transform 0.2s;
}

.feature-card:hover {
    transform: translateY(-5px);
}

.feature-card h3 {
    color: #007bff;
    margin-bottom: 1rem;
}

.tech-stack {
    background: #20232a;
    color: #61dafb;
    padding: 1.5rem;
    border-radius: 8px;
    margin: 2rem 0;
}

.tech-stack ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.tech-stack li {
    background: rgba(97, 218, 251, 0.1);
    padding: 0.5rem 1rem;
    border-radius: 20px;
}